@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    font-family: 'Architects Daughter', cursive;
    font-size: 26px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
}


/*---------------------
  Testimonials Section
-----------------------*/

.testimonials-slider {
	padding-bottom: 115px;
}

.testimonials-slider .ts-item {
	text-align: center;
	padding: 0 22px 65px;
}

.testimonials-slider .ts-item .quota {
	font-size: 24px;
	margin-bottom: 24px;
}

.testimonials-slider .ts-item p {
	margin-bottom: 50px;
}

.testimonials-slider .ts-item h6 span {
	color: #ffc515;
}

.testimonials-slider .owl-dots:not(.owl-dots-number) {
	position: absolute;
	bottom: 48px;
	left: -5px;
	width: 100%;
	text-align: center;
}

.testimonials-slider .owl-dots:not(.owl-dots-number) .owl-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #ffffff;
	margin-right: 5px;
}

.testimonials-slider .owl-dots:not(.owl-dots-number) .owl-dot.active {
	background: #ffc515;
}
