/*---------------------
  Menu Section
-----------------------*/
.section-title {
	text-align: center;
	margin-bottom: 75px;
}

.section-title i {
	display: block;
	color: #8a8a8a;
	font-size: 65px;
}

.section-title h2 {
	font-size: 48px;
	position: relative;
	display: inline-block;
	padding: 0 16px;
}

.section-title h2:after,
.section-title h2:before {
	position: absolute;
	content: "";
	width: 277px;
	height: 1px;
	background: #ffc515;
	top: 32px;
}

.section-title h2:before {
	left: 100%;
}

.section-title h2:after {
	right: 100%;
}

.section-title.text-white i {
	color: #fff;
}

.section-title.st-no-style h2:after,
.section-title.st-no-style h2:before {
	display: none;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 110px;
	padding-bottom: 115px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.rating i {
	color: #fbb710;
}

.rating .is-fade {
	color: #e0e3e4;
}
.menu-tab-nav.nav-tabs {
	border-bottom: none;
	text-align: center;
	display: block;
	margin-bottom: 90px;
}

.menu-tab-nav.nav-tabs .nav-item {
	display: inline-block;
}

.menu-tab-nav.nav-tabs .nav-item .nav-link {
	color: #fff;
	border: none;
}

.menu-tab-nav.nav-tabs .nav-item .nav-link.active {
	background-color: transparent;
	border: none;
	color: #ffc515;
}

.menu-tab-nav.nav-tabs .nav-item .nav-link:hover {
	border: none;
}

.menu-section {
	padding-bottom: 83px;
}

.menu-dark .menu-item h5 {
	color: #7e7e7e;
}

.menu-dark .menu-item p {
	color: #b6b5b5;
}

.menu-dark .menu-item .menu-price {
	color: #7e7e7e;
}

.menu-dark .menu-item .menu-price:after {
	border-bottom: 2px dotted #dcdcdc;
}

.menu-item {
	margin-bottom: 45px;
}

.menu-item h5 {
	color: #fff;
	margin-bottom: 8px;
}

.menu-item p {
	font-size: 12px;
	line-height: normal;
	display: table-cell;
	width: 222px;
	padding-right: 18px;
	font-style: italic;
}

.menu-item .mi-meta {
	display: table;
	width: 100%;
}

.menu-item .menu-price {
	display: table-cell;
	color: #fff;
	text-align: right;
	position: relative;
	font-size: 17px;
}

.menu-item .menu-price:after {
	position: absolute;
	content: "";
	width: calc(100% - 63px);
	left: 0;
	top: 50%;
	margin-top: -1px;
	border-bottom: 2px dotted rgba(255, 255, 255, 0.25);
}

/*---------------------
  Footer Section
-----------------------*/

.footer-bg-area {
	height: 553px;
	position: relative;
}

.map-warp {
	height: 417px;
	background: #888;
}

.contact-form-area {
	position: absolute;
	width: 100%;
	left: 0;
	top: -212px;
}

.contact-form-warp {
	background: #fff;
	padding: 45px 95px 65px;
}

.contact-form-warp .section-title {
	margin-bottom: 67px;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	border: none;
	background: #eff4f6;
	padding: 10px 27px;
	font-size: 12px;
	height: 52px;
	margin-bottom: 17px;
}

.contact-form textarea {
	padding-top: 21px;
	height: 190px;
	margin-bottom: 25px;
}

