.branding {
    background-image: url("/static/photos/background.png");
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #C67417 3px solid;
    margin-bottom: 10px;
}

body {
    font: 15px/1.5 "Comic Sans MS", cursive, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}


/* ----- Global ----- */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin: auto;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

img {
    border: 1px solid #ddd;
    /* Gray border */
    border-radius: auto;
    /* Rounded border */
    padding: 5px;
    /* Some padding */
    width: 150px;
    /* Set a small width */
}


/* Add a hover effect (blue shadow) */

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/* Style tab links */

.tablink {
    background-color: #35424a;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */

.thumbnail {
    overflow: hidden;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #C67417;
    background-color: #35424a;
    text-align: center;
}


/* Media Queries */

@media(max-width: 768px) {
    header #branding,
    header nav {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
}