
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/admin/sidebar.css')}}" />
{% endblock %}
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Admin </div>
        <div class="list-group list-group-flush">
            <a href="{{url_for('main.admin_dashboard',uname=current_user.username)}}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="{{url_for('main.admin_menu',uname=current_user.username)}}" class="list-group-item list-group-item-action bg-light">Menu</a>
            <a href="{{url_for('main.admin_orders',uname=current_user.username)}}" class="list-group-item list-group-item-action bg-light">Orders</a>
        </div>
    </div>
</div>
