{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- Styles block

{% block styles%} {{ super() }} {% endblock %}

-->

<!-- Content Block-->
{% block content %}

<div
  class="container"
  style="font-family: 'Times New Roman', Times, serif; font-weight: 1000"
>
  <div class="row">
    <div class="col-md-6">
      <img
        src="{{url_for('static', filename='photos/about_2.png')}}"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <h2>
      IMEALS 
.<span
        >.</span
      >
    </h2>
  </div>

  <section class="services-section">
    <div class="container">
      <div class="section-title">
        <h2 style="text-align: center">Our Services</h2>
      </div>
      <div class="row services">
        <div class="col-lg-3 col-md-6 service-item">
          <h3>Breakfast</h3>
          <p>Breakfast choices.</p>
        </div>
        <div class="col-lg-3 col-md-6 service-item">
          <h3>Brunch</h3>
          <p>Here are Brunch options.</p>
        </div>
        <div class="col-lg-3 col-md-6 service-item">
          <h3>Lunch</h3>
          <p>Here are Lunch options</p>
        </div>
        <div class="col-lg-3 col-md-6 service-item">
          <h3>Dinner</h3>
          <p>Here are Dinner options</p>
        </div>
      </div>
    </div>
  </section>

  
</div>
{% endblock %}
