
{% import 'macros.html' as macro%}
 {% block content %}
<!-- Navigations -->
<nav class="py-4 d-lg-flex">
  <div id="logo">
      <h1> <a href="/"><span class="fa fa-align-center" aria-hidden="true"></span>IMEALS</a></h1>
  </div>
  <label for="drop" class="toggle">Menu</label>
  <input type="checkbox" id="drop" />
  <ul class="menu mt-2 ml-auto">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about" class="scroll">About</a></li>
      <li>
        <!-- Second Tier Drop Down -->
        <label for="drop-2" class="toggle">Authentications <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
        <a href="#">Authentications <span class="fa fa-angle-down" aria-hidden="true"></span></a>
        <input type="checkbox" id="drop-2" />
        <ul class="inner-ul">
            <li><a class="scroll" href="{{url_for('auth.register')}}">Join The Fun</a></li>
            <li><a href="{{url_for('auth.login')}}" class="scroll">Welcome back</a></li>
        </ul>
      </li>
      <li><a href="#contact" class="scroll">Contact</a></li>
  </ul>
      {% if current_user.is_authenticated %}
      {% if current_user.usertype == "Customer" %}
      <li><a href="#menu" class="scroll">Menu</a></li>
      <li>
          <!-- First Tier Drop Down -->
          <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
          <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
          <input type="checkbox" id="drop-2" />
          <ul class="inner-ul">
              <li><a class="scroll" href="#gallery">Gallery</a></li>
              <li><a href="#services" class="scroll">Services</a></li>
          </ul>
      </li>
      <li><a href="{{url_for('auth.logout')}}" class="scroll">Logout</a></li>
      {% endif %}
      {% if current_user.usertype == "Admin" %}
      <li><a href="{{url_for('auth.logout')}}" class="scroll">Admin Dashboard</a></li>
      <li><a href="{{url_for('auth.logout')}}" class="scroll">Logout</a></li>
      {% endif %}
      {% else %}
      <li>
        <!-- Second Tier Drop Down -->
        <label for="drop-2" class="toggle">Authentications <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
        <a href="#">Authentications <span class="fa fa-angle-down" aria-hidden="true"></span></a>
        <input type="checkbox" id="drop-2" />
        <ul class="inner-ul">
            <li><a class="scroll" href="{{url_for('auth.register')}}">Join Us</a></li>
            <li><a href="{{url_for('auth.login')}}" class="scroll">Welcome back</a></li>
        </ul>
      </li>
      <li><a href="#contact" class="scroll">Contact</a></li>
</nav>
  {% endif%}
                   
{% endblock %}
