{% extends 'base.html'%}
 {% import 'macros.html' as macro%}
 {% block content %}
     <div class="container">

         <div class="col-md-8">
           <hr><hr>

             <h2> Your orders </h2>

             <hr>

        {% for o in orders %}
             <!--Displaying pitch info-->
             {% if current_user.id == o.user_id %}
                {%for m in meals%}
                   <h4> Name: {{m.name}}</h4>
                   <br>
                   <p style="font-weight: bold;"> Ingredients </p>
                   <p> {{m.ingredients}}</p>
                   <p style="font-weight: bold;"> Cost </p>
                   <p> {{m.cost}} ksh</p>
<hr><hr>
                {%endfor%}
             {%else%}
             {% endif %}

        {% endfor %}
     <br>
       <hr><hr>
         </div>


     </div>

 {% endblock %}
